@keyframes manuever-1 {
    0% {
        top: 3vh;
        left: 5vw;
    }

    33% {
        top: 40vh;
        left: 30vw;
    }

    66% {
        top: 10vh;
        left: 60vw;
    }

    100% {
        top: 3vh;
        left: 5vw;
    }
}

@keyframes manuever-2 {
    0% {
        top: 97vh;
        left: 95vw;
    }

    33% {
        top: 60vh;
        left: 70vw;
    }

    66% {
        top: 90vh;
        left: 40vw;
    }

    100% {
        top: 97vh;
        left: 95vw;
    }
}

@keyframes manuever-3 {
    0% {
        top: 95vh;
        left: 5vw;
    }

    33% {
        top: 50vh;
        left: 30vw;
    }

    66% {
        top: 20vh;
        left: 10vw;
    }

    100% {
        top: 95vh;
        left: 5vw;
    }
}

@keyframes manuever-4 {
    0% {
        top: 50vh;
        left: 5vw;
    }

    33% {
        top: 80vh;
        left: 30vw;
    }

    66% {
        top: 80vh;
        left: 10vw;
    }

    100% {
        top: 50vh;
        left: 5vw;
    }
}

@keyframes manuever-5 {
    0% {
        top: 50vh;
        left: 95vw;
    }

    33% {
        top: 50vh;
        left: 70vw;
    }

    66% {
        top: 80vh;
        left: 95vw;
    }

    100% {
        top: 50vh;
        left: 95vw;
    }
}

@keyframes manuever-6 {
    0% {
        top: 3vh;
        left: 95vw;
    }

    33% {
        top: 40vh;
        left: 70vw;
    }

    66% {
        top: 40vh;
        left: 95vw;
    }

    100% {
        top: 3vh;
        left: 95vw;
    }
}

@keyframes manuever-7 {
    0% {
        top: 50vh;
        left: 50vw;
    }

    33% {
        top: 30vh;
        left: 90vw;
    }

    66% {
        top: 60vh;
        left: 20vw;
    }

    100% {
        top: 50vh;
        left: 50vw;
    }
}

@keyframes manuever-8 {
    0% {
        top: 95vh;
        left: 50%;
    }

    33% {
        top: 30vh;
        left: 90vw;
    }

    66% {
        top: 10vh;
        left: 20vw;
    }

    100% {

        top: 95vh;
        left: 50%;
    }
}
@keyframes manuever-9 {
    0% {
        top: 3vh;
        left: 50%;
    }

    33% {
        top: 70vh;
        left: 10vw;
    }

    66% {
        top: 90vh;
        left: 80vw;
    }

    100% {

        top: 3vh;
        left: 50%;
    }
}