@mixin respond($breakpoint){
    @if($breakpoint == 'tablet'){
        @media (max-width: 768px) {
            @content;
        }
    }
    @if($breakpoint == 'phone'){
        @media (max-width: 576px) {
            @content;
        }
    }
    
    

}