$colorPrimaryGradient1: #92FE45;
$colorPrimaryGradient2: #27B32A;

$colorSecondaryGradient1: #CEFAF3;
$colorSecondaryGradient2: #00A0FF;

$colorTertiaryGradient1: #F8F8F8;
$colorTertiaryGradient2: #E5E8E8;

$initial-1-top: calc(random() * 100) + vh;
$initial-1-left: calc(random() * 100) + vw;
