.info-section {
    width: 90%;
    max-width: 120rem;
    margin: 4rem auto;

    &-e {
        @include respond(tablet) {
            display: block;
            margin: 3rem auto;
        }

        width: 100%;
        position: relative;

        &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        &:nth-child(6) {

            grid-column-start: 1;
            grid-column-end: 3;
        }

        border-radius: 1.1rem;
        box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, 0.32);
        // backdrop-filter: blur(1rem);
        color: $colorTertiaryGradient1;
        grid-gap: 2rem;
        cursor: pointer;

        background-image: linear-gradient(to left bottom, rgba(black, .5), rgba(black, 0.9));

        // background-color: $colorSecondaryGradient1;        
        &-cover {
            filter: blur(.4rem);

            background-image: linear-gradient(to right bottom, #F45A5A, #45038F);
            border-radius: 1.1rem;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
            width: 100%;
            // height: 5rem;
            position: absolute;
        }
    }

    &-each {
        &-checkbox {
            display: none;
        }

        * {
            user-select: none
        }

        &-modal {
            * {
                &::-webkit-scrollbar {
                    width: 1rem;

                    &-thumb {
                        background-color: white;
                    }
                }

            }

            h2 {
                &::after {
                    width: 100%;
                    top: 100%;
                    left: 0%;
                    transition: all 0.3s;
                    padding: .5rem;
                    transform: translate(-.5rem, 0);
                    height: .01rem;
                    position: absolute;
                    z-index: -1;
                    content: " ";

                    cursor: copy;
                    background-image: linear-gradient(to right, #D60270, #9B4F96, #0038A8);
                }

                cursor: copy;

                &:hover {

                    color: $colorTertiaryGradient1;

                    &::after {
                        top: -.5rem;
                        height: 100%;
                        border-radius: .6rem;

                    }
                }

                display: inline-block;
                width: auto;
                position: relative;
                font-size: 4rem !important;
            }

            tr {
                // width: 40rem;
                align-items: center;
                text-align: right;
                ;
                display: flex;
                justify-content: space-between;
            }



            z-index: 6;
            top: 0;
            left: 0;
            visibility: hidden;
            color: white;
            background-image: linear-gradient(to left bottom, rgba(white, .5), rgba(white, 0.9));
            position: fixed;

            &-register {
                cursor: pointer;
                text-transform: uppercase;
                display: inline-block;
                margin: 3rem auto;
                text-decoration: none;
                color: white !important;
                position: relative;
                transition: all 0.3s;

                &::after {
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    // display: none;
                    width: 0%;
                    padding: 1rem;
                    height: 100%;
                    left: 0;
                    transition: width 0.3s;
                    transform: translate(-1rem, -1rem);
                    z-index: -1;
                    content: " ";
                    background-color: white;

                }

                &:hover {
                    color: black !important;

                    &::after {
                        opacity: 1;
                        width: 100%
                    }
                }

            }

            backdrop-filter: blur(.8rem);
            transition: all 0.3s;
            box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, 0.32);

            &-container {
                display: flex;
                width: 100%;
                height: 100%;

                justify-content: center;
                align-items: center;
            }

            &-content {
                &-outer {
                    background-color: #011620;
                    border-radius: 1rem;
                    padding: 1rem;
                }

                &-inner {
                    // border-radius: 1rem;
                    margin: 1rem;
                    padding: 1rem 1.4rem;
                    background-color: #011620;
                    max-height: 50vh;

                    overflow: auto;
                }

                &-container {
                    border-radius: 1rem;
                    background-color: #121212;
                    position: fixed;
                    max-width: 100rem;
                    width: 80%;
                    padding: 2rem;
                }

                &-icon {
                    position: absolute;
                    right: 4rem;
                    // %;

                    top: 2rem;
                    cursor: pointer;
                    z-index: 8;
                    border-radius: 100%;
                    padding: 0.5rem;
                    color: $colorTertiaryGradient2 !important;
                    background-color: black;
                    font-size: 3rem !important;
                    // align-self: end;
                }

                padding:1rem;

                &-cover {
                    filter: blur(.5rem);

                    border-radius: 1.1rem;
                    z-index: -1;
                    top: 0;
                    opacity: 0.3;
                    left: 0;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                    // height: 5rem;
                    position: absolute;
                }

                position: relative;
                cursor: auto;

                user-select: auto !important;
                width: calc(100% - 2rem);
                max-height: 80vh;
                overflow: auto;
                font-size: 2rem;
                z-index: 8;
            }



            width: 100vw;
            height: 100vh;
            transform: translate(0, calc(-100vh - 1rem));
        }

        &-checkbox:checked~&-modal {
            transform: translate(0, 0);
            visibility: visible;
            // display: block;

        }


        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: calc(100% - 6rem);
        justify-content: space-between;

        padding: 3rem;

        h3 {
            font-size: 3rem;
        }

        // height: 40rem;
        h4 {
            font-size: 2rem;
            transition: all 0.3s;
            display: inline-block;
            position: relative;
            z-index: 4;

            &::after {
                position: absolute;
                top: 0;
                opacity: 0;
                // display: none;
                width: 0%;
                padding: 1rem;
                height: 100%;
                left: 0;
                transition: width 0.3s;
                transform: translate(-1rem, -1rem);
                z-index: -1;
                content: " ";
                background-color: $colorSecondaryGradient1;

            }

            &:hover {
                color: black;

                &::after {
                    opacity: 1;

                    // transform: translate(-50%, -50%);
                    width: 100%
                }
            }
        }

        z-index: 4 !important;
        position: relative;
        // width: 100%;

        p {
            font-size: 1.6rem;
        }

        // padding: 1rem 2rem;
    }

    &-content {
        @include respond(tablet) {
            display: block;
        }

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }

    h2 {
        font-size: 3rem;
    }
}

.cta {
    &-register {
        width: 90%;

        span {
            text-transform: uppercase;

            @include respond(tablet) {
                // display: inline-block;
                text-align: center;
            }

            padding: 2rem;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.32);

            &:first-child {
                // color:#000;
                background-image: linear-gradient(to right bottom, $colorPrimaryGradient2, $colorPrimaryGradient1);
            }

            &:last-child {
                // color:#000;
                background-image: linear-gradient(to right bottom, $colorPrimaryGradient2, $colorPrimaryGradient1);
            }

            transition: all 0.3s;
            ;

            &:hover {
                transform: scale(1.05);
            }

            border-radius: .5rem;
            cursor: pointer;
            color: #000;
            text-decoration: none;
            font-size: 2rem;
        }

        display: flex;
        justify-content: space-between;
        margin: 10rem auto;
        max-width: 50rem;

        @include respond(tablet) {
            display: grid;
            align-items: center;
            grid-gap: 4rem;
            justify-content: center;

        }

    }
}